.settings-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202225;
    border-radius: 8px;
    width: 500px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Ensure it appears above other elements */
    display: none; /* Initially hidden */
}

.categories {
    float: left;
    height: 100%;
    overflow-y: auto; /* Add scrollbar if needed */
    padding-right: 10px; /* Adjust spacing */
}

.categories button {
    display: block;
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categories button:hover {
    background-color: #677bc4;
}

.category-content {
    float: right;
    width: calc(100% - 150px); /* Adjust width as needed */
    padding-left: 20px;
    height: 100%;
    overflow-y: auto; /* Make content scrollable */
}

.category {
    display: none; /* Initially hidden */
}

.category.active {
    display: block; /* Display active category */
}
