body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #202225;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Ensure container is positioned */
}

.header {
    background-color: #7289da;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header h1 {
    margin: 0;
    color: #ffffff;
}

.content {
    padding: 20px;
}

.random-number, .countdown {
    margin-bottom: 20px;
    color: #ffffff;
}

.generate-button, .settings-button {
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button:hover, .settings-button:hover {
    background-color: #677bc4;
}

/* Styles for the settings button */
.settings-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #42464d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
